<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Relation Editor</title>

        <!-- Bootstrap -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="bower_components/jquery-ui.min.css">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="bower_components/jquery-highlighttextarea/jquery.highlighttextarea.min.css">
        <script src="bower_components/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="bower_components/jquery.hotkeys.js"></script>
        <script src="bower_components/jquery-ui.min.js"></script>
        <!-- <script src="bower_components/jquery-highlighttextarea/jquery.highlighttextarea.js"></script> -->

        <script src="js/global_variables.js"></script>
        <script src="js/general_function.js"></script>
        <script src="js/main.js"></script>
        <style type="text/css">
        </style>
    </head>
    <body>
        <div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
             role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="glyphicon glyphicon-time" style="margin-right: 5px;">
                            </span>Please Wait
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info
                                 progress-bar-striped active"
                                 style="width: 100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div style="background-color: #90EE90; color: #7B68EE">
                    <h2 style="text-align: center;">Relation Editor</h2>
                </div>
                <div class="col-md-2">
                    <div>
                        <script>
                            $(document).ready(function () {
                                (function () {
                                    docs_name = '{{ docs_name }}';
                                    docs_name = docs_name.replace(/&#34;/g , '"');
                                    docs_name = docs_name.replace(/&#39;/g , '"');
                                    docs_name = JSON.parse(docs_name);

                                    docs_done_name = '{{ docs_done_name }}';
                                    docs_done_name = docs_done_name.replace(/&#34;/g , '"');
                                    docs_done_name = docs_done_name.replace(/&#39;/g , '"');
                                    docs_done_name = JSON.parse(docs_done_name);

                                    $('#file-raw-total').text('Raw files: (' + docs_name.length + ')');
                                    $('#file-done-total').text('Done: (' + docs_done_name.length + ')');

                                    generateDoneList(docs_done_name);
                                    generateRawList(docs_name, docs_done_name);
                                    getDoc(docs_name[0]);
                                })();
                            });
                        </script>
                    </div>
                    <div>
                        <h4><strong id="file-raw-total"></strong></h4>
                        <div>
                            <ul class="list-group" id="file-raw" style="height: 230px; overflow: scroll">
                            </ul>
                        </div>
                    </div>

                    <div>
                        <h4><strong id="file-done-total"></strong></h4>
                        <div>
                            <ul class="list-group" id="file-done" style="height: 200px; overflow: scroll"></ul>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-10">
                    <div>
                        <table>
                            <th width="50%">Sentence</th>
                            <th width="10%">Entity 1</th>
                            <th width="10%">Entity 2</th>
                            <th>Relation
                                <form action="/add_relation" method="POST">
                                    <div class="col-md-10"><input style="width: 250px; margin-left: -20px; color: blue" id="newRelation" name="newre" type="text"/></div>
                                    <div class="col-md-2"><input type="submit" style="color: brown; margin-left: -30px; width: 50px" value="ADD"/></div>
                                </form></div></th>
                        </table>
                        
                        <div style="height: 350px; overflow: auto;">
                            <table class="form-group" id="editor-content" style="width: 100%">
                            </table>
                        </div> 
                    </div>

                    <div style="padding-top: 15px">
                        <a class="btn btn-md btn-primary" style="font-weight: bold" onclick="getContent()">Get content</a>
                        <a class="btn btn-md btn-warning" style="color: #FF00FF; font-weight: bold" onclick="saveDoc()">Save</a>
                    </div>
                    <div style="margin-top: 10px">
                        <b id="current-message"></b>
                    </div>

                    <div id="tag-controller" style="margin-top: 10px">
                        <div id="tag-container">
                            <b style="margin-right: 5px">
                                Tags: 
                            </b>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </body>
</html>
